
    #header{
        text-align: center;
        color: hsl(228, 83%, 16%);
    }
    #header h3{
        color:solid rgba(11, 183, 180, 0.708);
    }
        img{
            height: 220px;
            width: 190px;
            border-radius: 150px;
            margin:15px;
        }
        h1{
            text-decoration: underline;
        }
        body{
            background-image: url("tributebg.jpg");
            background-repeat: no-repeat;
            border:3px solid;
           background-size: 100% 100%;
        }
        div{
            text-decoration: underline;
            margin-top: 50px;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
        }
        ul{
            font-size: 20px;
            margin-top: 100;
            margin-bottom: 100;
            margin-left: 100;
            margin-right: 100;
        }
        p{
            font-size: 22px;
             margin-top: 100;
            margin-bottom: 100;
            margin-left: 100;
            margin-right: 100;
        }
        h2{
            font-size: 25px;
             margin-top: 100;
            margin-bottom: 100;
            margin-left: 100;
            margin-right: 100;
        }

